body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(45, 39, 231, 0.5);
}

.logo {
    height: 80px;
}

.site-name {
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
    color: white;
}

.contact {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[list] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: rgba(45, 39, 231, 0.5);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0165cf;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer small {
    color: #666;
}
